@keyframes offerTextFade {
  0% {
    opacity: 0;
  }
  20%,
  50% {
    opacity: 1;
  }
  70%,
  100% {
    opacity: 0;
  }
}

.animate-offerText {
  animation: offerTextFade 5s ease-in-out infinite;
}

/* Badges */
.badge-new {
  font-size: 8px;
  background-color: black;
  color: white;
  padding: 1px 6px;
  border-radius: 4px;
  user-select: none;
}

.badge-sale {
  font-size: 8px;
  background-color: #10b981;
  color: white;
  padding: 1px 6px;
  border-radius: 4px;
  user-select: none;
}

/* Fade In animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}
