@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.marquee-wrapper {
  overflow: hidden;
  position: relative;
}
