 @import "tailwindcss";
 @plugin "daisyui";

 /* index.css or a separate CSS file */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}


/* global.css বা index.css এ যোগ করো */

body.dark-mode {
  background-color: #121212;
  color: white;
}
/* index.css বা Tailwind config এ যুক্ত করতে পারো */
:root.dark {
  background-color: #111827;
  color: #f3f4f6;
}
